.history{
    width: auto;
    height: 500px;
    background-color: rgb(226, 226, 226);
}
.history-name{
    
  
} 
.name-list{
    display:flex;  
    display: inline-block;
    color: rgb(71, 70, 70);
    height: 100px;
    width:450px;
    margin: 40px 0px 0px 35px;
    cursor: pointer;
}